<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering 2</title>
    <style>
        img {
            max-width: 100%;
        }
        .product-image {
            max-width: 250px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="product">
        <div class=product-image>
            <img v-bind:src="image" />
        </div>
        <div class="product-info">
            <h2>{{product}}</h2>
            <p v-if="inventory > 10">In stock!</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost empty!</p>
            <p v-else>Out of stock :(</p>
            <h4>Product Details</h4>
            <ul>
                <li v-for="detail in details">
                    {{detail}}
                </li>
            </ul>
            <h4>Variants</h4>
            <p v-for="variant in variants">
                {{variant.color}}
            </p>
        </div>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      product: "Shoes",
      image: 'https://bit.ly/2UN53VL',
      inventory: 5,
      details: ["Leather", "Waterproof"],
      variants: [
        {
          id: 1,
          color: "brown"
        },
        {
          id: 2,
          color: "black"
        },
        {
          id: 3,
          color: "red"
        },
        {
          id: 4,
          color: "green"
        }
      ],
    }
  })
</script>
</body>
</html>
