<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Handling</title>
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }

        .product-image {
            max-width: 250px;
            height: 200px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="cart">
        <p>Cart({{cartCount}})</p>
    </div>
    <div class="product">
        <div class=product-image>
            <img v-bind:src="image"/>
        </div>
        <div class="product-info">
            <h2>{{product}}</h2>
            <p v-if="inventory > 10">In stock!</p>
            <p v-else-if="inventory <= 10 && inventory > 0">Almost empty!</p>
            <p v-else>Out of stock :(</p>
            <h4>Product Details</h4>
            <ul>
                <li v-for="detail in details">
                    {{detail}}
                </li>
            </ul>
            <h4>Variants</h4>
            <div v-for="variant in variants">
                <span v-on:mouseover="updateProductImage(variant.image)">
                    {{variant.color}}

                </span>
            </div>
        </div>
        <button v-on:click="addToCart">Add to cart</button>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>

<script>
  new Vue({
    el: "#app",
    data: {
      product: "Shoes",
      image: "https://bit.ly/2UN53VL",
      inventory: 5,
      details: ["Leather", "Waterproof"],
      variants: [
        {
          id: 1,
          color: "brown",
          image: "https://bit.ly/2UN53VL"
        },
        {
          id: 2,
          color: "black",
          image: "https://bit.ly/2RXxsXC"
        },
        {
          id: 3,
          color: "red",
          image: "https://bit.ly/2HOWAO1"
        },
        {
          id: 4,
          color: "green",
          image: "https://bit.ly/2UYDKHW"
        }
      ],
      cartCount: 0
    },
    methods: {
      addToCart() {
        this.cartCount += 1;
      },
      updateProductImage(newImage) {
        this.image = newImage;
      }
    }
  })
</script>
</body>
</html>
